body{
    margin: 0;
    background-color: rgb(247, 247, 247);
}

/*Header*/

 #header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
    font-family: 'Architects Daughter', cursive;
    font-size: 4em;
    font-weight: 900;
}

/*invitation*/

#invite{
    font-family: 'Montaga', serif;
    font-size: 1.5em;;
}

/*Billeder*/

#billeder{
    margin-top: 75px;
}

.img1{
    background-color: rgb(244, 233, 255);
    border: 1px solid black;
    width: inherit;
    height: 300px;    
}
.img2{
    background-color: rgb(244, 233, 255);
    border: 1px solid black;
    height: 300px;
}
.img3{
    background-color: rgb(244, 233, 255);
    border: 1px solid black;
    height: 300px;
}